.scroll_window,
.webview {
  background-color: #000;
}

.plain, .plain button.combo, .plains button {
  border: 0;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
}
